<<<<<<< HEAD
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') ai_peter clips 
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarLinks' aria-controls='navbarLinks' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarLinks.collapse.navbar-collapse
      // remove ms-auto to align left
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#') AI Family Guy
        li.nav-item
          a.nav-link(href='#') AI Dragon Ball
      // TODO make this an image that displays each show's logo
      // .span.navbar-text.ms-auto hi

      // TODO search form (impliment later)
      // form.ms-auto
      //   input.form-control(type='search' placeholder='Search' aria-label='Search')
=======
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container-fluid
    .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
      ul.navbar-nav.me-auto
        li.nav-item.active
          a.nav-link(href='#') Left
        li.nav-item
          a.nav-link(href='//codeply.com') Codeply
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link(href='#') Link
    .mx-auto.order-0
      a.navbar-brand.mx-auto(href='#') Navbar 2
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='.dual-collapse2')
        span.navbar-toggler-icon
    .navbar-collapse.collapse.w-100.order-3.dual-collapse2
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#') Right
        li.nav-item
          a.nav-link(href='#') Link
>>>>>>> f8c42ee583d2c15a61c2213a14747edf01226937
