extends _layout.pug

include _videocard
 
mixin cell
  .col-md-4
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/1366/768')
      .card-body
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-outline-secondary(type='button') View
            button#copyButton.btn.btn-sm.btn-outline-secondary(type='button') Edit
          small.text-muted 9 mins

mixin showcard(name)
  // show card to list all shows (mobile only)
  .col-6
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/128/128')
      .card-body
        .btn-group
          button.btn.btn-sm.btn-outline-secondary(type='button')= name

block main

  section.jumbotron.text-center
    .container
      h1.jumbotron-heading AI Shows Clips
      p.lead.text-muted
        | owwww oooof my bones they really hurt 😢😢😢
    // showcards (mobile only)
    .container.d-sm-none
      .row
        +showcard("Family Guy")
        +showcard("Dragon Ball")

  .album.py-5
    .container
      .row
        // h2 Recently Uploaded
        h2 Recent Uploads
      .row
        each post in featuredPosts
          +videoCard(post)

  .container
    each post in featuredPosts
      each val, index in post
        li= index + ': ' + val
      hr
