container(style='margin-top: 5px')
  .row
    .col-3
      a.btn.btn-sm.btn-outline-secondary.showBtn.w-100(type='button', href=`#`)= post.show
    .col-7
      p hi
    .col-2
      // +modalBtn(post)
